li {
  list-style-type: none;
  display: block;
  float: left;
  margin: 5px;
  padding: 5px;
}

img {
  display: block;
}

.current-day {
  border: 1px solid grey;
  border-radius: 5px;
}

.max {
  color: black;
}

.min {
  color: gray;
}

.gray {
  color: gray;
}